<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <a routerLink="/details#switzerland">
        <img
          src="assets/images/switzerland_huge.jpg"
          class="d-block w-100"
          alt=""
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Switzerland</h5>
          <p>Cras justo odio, dapibus ac facilisis in...</p>
        </div>
      </a>
    </div>

    <div class="carousel-item" data-bs-interval="4000">
      <a routerLink="/details#reunion"
        ><img src="assets/images/run_huge.jpg" class="d-block w-100" alt="" />
        <div class="carousel-caption d-none d-md-block">
          <h4>La Reunion</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="carousel-item" data-bs-interval="4000">
      <a routerLink="/details#paris"
        ><img src="assets/images/paris_huge.jpg" class="d-block w-100" alt="" />
        <div class="carousel-caption d-none d-md-block">
          <h4>Paris</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="carousel-item" data-bs-interval="4000">
      <a routerLink="/details#puertorico"
        ><img src="assets/images/pr_huge.jpg" class="d-block w-100" alt="" />
        <div class="carousel-caption d-none d-md-block">
          <h4>Puerto Rico</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="carousel-item" data-bs-interval="4000">
      <a routerLink="/details#providence"
        ><img src="assets/images/prov_huge.jpg" class="d-block w-100" alt="" />
        <div class="carousel-caption d-none d-md-block">
          <h4>Providence</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="carousel-item" data-bs-interval="4000">
      <a routerLink="/details#lanzarote"
        ><img
          src="assets/images/lanzarote_huge.jpg"
          class="d-block w-100"
          alt=""
        />
        <div class="carousel-caption d-none d-md-block">
          <h4>Lanzarote</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="carousel-item" data-bs-interval="4000">
      <a routerLink="/details#sanfrancisco"
        ><img src="assets/images/sf_huge.jpg" class="d-block w-100" alt="" />
        <div class="carousel-caption d-none d-md-block">
          <h4>San Francisco</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="carousel-item" data-bs-interval="4000">
      <a routerLink="/details#fuerteventura"
        ><img
          src="assets/images/fuerte_huge.jpg"
          class="d-block w-100"
          alt=""
        />
        <div class="carousel-caption d-none d-md-block">
          <h4>Fuerteventura</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="carousel-item" data-bs-interval="4000">
      <a routerLink="/details#sevilla"
        ><img
          src="assets/images/sevilla_huge.jpg"
          class="d-block w-100"
          alt=""
        />
        <div class="carousel-caption d-none d-md-block">
          <h4>Sevilla</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="carousel-item" data-bs-interval="4000">
      <a routerLink="/details#mallorca"
        ><img
          src="assets/images/mallorca_huge.jpg"
          class="d-block w-100"
          alt=""
        />
        <div class="carousel-caption d-none d-md-block">
          <h4>Mallorca</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
