<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
      <a href="./details.html#switzerland"
        ><img src="img/switzerland_huge.jpg" alt="" />
        <div class="carousel-caption">
          <h4>Switzerland</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="item">
      <a href="./details.html#reunion"
        ><img src="img/run_huge.jpg" alt="" />
        <div class="carousel-caption">
          <h4>La Reunion</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="item">
      <a href="./details.html#paris"
        ><img src="img/paris_huge.jpg" alt="" />
        <div class="carousel-caption">
          <h4>Paris</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="item">
      <a href="./details.html#puertorico"
        ><img src="img/pr_huge.jpg" alt="" />
        <div class="carousel-caption">
          <h4>Puerto Rico</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="item">
      <a href="./details.html#providence"
        ><img src="img/prov_huge.jpg" alt="" />
        <div class="carousel-caption">
          <h4>Providence</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="item">
      <a href="./details.html#lanzarote"
        ><img src="img/lanzarote_huge.jpg" alt="" />
        <div class="carousel-caption">
          <h4>Lanzarote</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="item">
      <a href="./details.html#sanfrancisco"
        ><img src="img/sf_huge.jpg" alt="" />
        <div class="carousel-caption">
          <h4>San Francisco</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="item">
      <a href="./details.html#fuerteventura"
        ><img src="img/fuerte_huge.jpg" alt="" />
        <div class="carousel-caption">
          <h4>Fuerteventura</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="item">
      <a href="./details.html#sevilla"
        ><img src="img/sevilla_huge.jpg" alt="" />
        <div class="carousel-caption">
          <h4>Sevilla</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>

    <div class="item">
      <a href="./details.html#mallorca"
        ><img src="img/mallorca_huge.jpg" alt="" />
        <div class="carousel-caption">
          <h4>Mallorca</h4>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
            id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
            ultricies vehicula ut id elit.
          </p>
        </div></a
      >
    </div>
  </div>

  <a
    class="carousel-control left"
    href="#myCarousel"
    data-slide="prev"
    style="top: 45% !important"
    onclick="//carousel left arrow"
    >&lsaquo;</a
  >
  <a
    class="carousel-control right"
    href="#myCarousel"
    data-slide="next"
    style="top: 45% !important"
    onclick="//carousel right arrow"
    >&rsaquo;</a
  >
</div>
