<div *ngIf="!(orderService.orders$ | async)?.length; else content">
  <div class="container">There are no items in your basket.</div>
</div>

<ng-template #content>
  <div class="container table-no-col-borders table-striped">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Destination</th>
          <th scope="col">Travelers</th>
          <th scope="col">Total Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basketItems$ | async">
          <td><img src="{{ item.image }}" /></td>
          <td>{{ item.title }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.value }}</td>
          <td>
            <fa-icon
              style="cursor: pointer"
              (click)="updateCart(item.id)"
              [icon]="faEdit"
              size="lg"
            ></fa-icon>
            <fa-icon
              style="cursor: pointer"
              class="mx-2"
              (click)="removeFromCart(item)"
              [icon]="faTrashCan"
              size="lg"
            ></fa-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-center align-middle h3">
            Total: ${{ calculateTotalPrice() | async }}
          </td>
          <td colspan="2" class="text-center align-middle h3 styled-link">
            <a routerLink="/checkout" (click)="beginCheckout()">Checkout</a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</ng-template>
