// patches for bootstrap table
.table-no-col-borders td,
.table-no-col-borders th {
  text-align: center;
  border: none;
}

td {
  vertical-align: middle ;
}

img {
  border-radius: 5px;
  height: 240px;
}