@import '../../../variables.scss';

@media screen and (max-width: $mobile-max-width) {
  .rwd-mobile {
    display: flex !important;
    flex-direction: column !important;
  }

  .rwd-mobile-img {
    img {
      display: none;
    }
  }

  .rwd-all-destinations {
    position: relative;
    right: 0;
  }
}