@import '../../../styles.scss';

@media screen and (max-width: $mobile-max-width) {
  .rwd-mobile {
    display: flex !important;
    flex-direction: column !important;
  }

  .rwd-mobile-img {
    img {
      display: none;
    }
  }

  .rwd-all-destinations {
    position: relative;
    right: 0;
  }
}

.img-main {
  width: 500px;
  object-fit: cover;
}

.img-sub {
  width: 170px;
  object-fit: cover;
}