<footer class="footer">
  <div class="container">
    <div id="externalLinks">
      <ul>
        <li>
          <a href="http://www.fifty-five.com" target="_blank">55 Website</a>
        </li>
        <li>
          <a href="https://www.facebook.com/55fiftyfive55/" target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a href="https://twitter.com/55fiftyfive55" target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/company/fifty-five" target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a href="/ATStravel/assets/brochure.pdf" target="_blank"
            >Consultez notre brochure</a
          >
        </li>
      </ul>
    </div>
    <div id="newsletter-form">
      <form method="post" action="#">
        <input type="text" class="form-control" placeholder="Newsletter..." />
        <button type="submit">OK</button>
      </form>
      <div id="reponse"></div>
    </div>
    <div class="clear"></div>
  </div>
</footer>
