@import '../../../styles.scss';

@media screen and (max-width: $mobile-max-width) {
  .container {
    display: flex;
    flex-direction: column;
  }

  footer #newsletter-form,
  footer #externalLinks {
    width: 100%;
  }
}
