<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" routerLink="/">ATS Travel Site</a>
      <ul class="nav">
        <li class="active"><a href="./index.html">Home</a></li>
        <li>
          <a routerLink="/destinations">Destinations</a>
        </li>
        <li><a id="cnxDcnx" routerLink="/login">Log-in</a></li>
        <li>
          <a id="navBasketItems" routerLink="/basket">Basket <span></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
