<div
  class="d-flex flex-column justify-content-center align-items-center"
  id="main"
>
  <div id="msg"></div>
  <form method="post" id="signInForm">
    <div class="mb-3">
      <label for="login55" class="form-label">Username :</label>
      <input type="text" class="form-control" name="login" id="login55" />
    </div>
    <div class="mb-3">
      <label for="password55" class="form-label">Password :</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password55"
      />
    </div>
    <div class="mb-3">
      <input
        type="submit"
        class="btn btn-primary"
        name="connexion"
        value="Sign-in"
        id="cnx55"
      />
    </div>
  </form>
</div>
