<div class="container overflow-hidden px-4">
  <div class="row">
    <app-carousel></app-carousel>
  </div>
  <div id="viewDestination">
    <a (click)="navigateToDestinations()" class="btn btn-primary btn-large">
      <h2>View Destinations</h2>
    </a>
  </div>
  @defer (on viewport) {
  <div class="row rwd-mobile" style="gap: 1rem">
    <div class="p-3 col text-center">
      <h3>
        <fa-icon [icon]="faHome" size="xs"></fa-icon>
        <i class="fas fa-home" style="vertical-align: middle"></i> Luxurious
        Accommodations
      </h3>
      <p style="text-align: justify">
        Nunc ornare turpis eu nisi hendrerit a tempor felis ullamcorper. Integer
        turpis felis, consectetur quis congue tempus, porta vitae purus. Mauris
        condimentum orci et nunc tempor mollis.
      </p>
    </div>
    <div class="p-3 col text-center">
      <h3>
        <fa-icon [icon]="faGlobe" size="xs"></fa-icon>
        <i class="fas fa-globe" style="vertical-align: middle"></i> Incredible
        Locations
      </h3>
      <p style="text-align: justify">
        Nunc ornare turpis eu nisi hendrerit a tempor felis ullamcorper. Integer
        turpis felis, consectetur quis congue tempus, porta vitae purus. Mauris
        condimentum orci et nunc tempor mollis.
      </p>
    </div>
    <div class="p-3 col text-center">
      <h3>
        <fa-icon [icon]="faTag" size="xs"></fa-icon>
        Pricing
      </h3>
      <p style="text-align: justify">
        Nunc ornare turpis eu nisi hendrerit a tempor felis ullamcorper. Integer
        turpis felis, consectetur quis congue tempus, porta vitae purus. Mauris
        condimentum orci et nunc tempor mollis.
      </p>
    </div>
  </div>
  } @placeholder {
  <div>Loading..</div>
  }
  <app-cookie-consent
    [showModal]="showCookieModal"
    [showCookieConsent]="true"
  ></app-cookie-consent>
</div>
