<app-navbar></app-navbar>
<header>
  <app-header></app-header>
</header>
<div class="container">
  <div class="row">
    <app-carousel></app-carousel>
  </div>
  <div id="viewDestination">
    <a routerLink="/destinations" class="btn btn-primary btn-large">
      <h2>View Destinations</h2>
    </a>
  </div>
  <br />
  <div class="row">
    <div class="span4 text-center">
      <h3>
        <i class="icon-home" style="vertical-align: middle"></i> Luxurious
        Accommodations
      </h3>
      Nunc ornare turpis eu nisi hendrerit a tempor felis ullamcorper. Integer
      turpis felis, consectetur quis congue tempus, porta vitae purus. Mauris
      condimentum orci et nunc tempor mollis.
    </div>
    <div class="span4 text-center">
      <h3>
        <i class="icon-globe" style="vertical-align: middle"></i> Incredible
        Locations
      </h3>
      Nunc ornare turpis eu nisi hendrerit a tempor felis ullamcorper. Integer
      turpis felis, consectetur quis congue tempus, porta vitae purus. Mauris
      condimentum orci et nunc tempor mollis.
    </div>
    <div class="span4 text-center">
      <h3>
        <i class="icon-tag" style="vertical-align: middle"></i> Unbeatable
        Pricing
      </h3>
      Nunc ornare turpis eu nisi hendrerit a tempor felis ullamcorper. Integer
      turpis felis, consectetur quis congue tempus, porta vitae purus. Mauris
      condimentum orci et nunc tempor mollis.
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-disclaimer></app-disclaimer>
