@import '../../../variables.scss';

.show-modal {
  display: inline-flex;
}

.hide-modal {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding-left: 2rem;
  padding-bottom: 2rem;
  width: 50vw;

  @media screen and (max-width: $mobile-max-width) {
    width: 100vw;
  }
}

.video-player {
  margin-top: 2rem;

  @media screen and (max-width: $mobile-max-width) {
    > iframe {
      width: 300px;
      height: 56.25vw;
    }
  }
}

// /* The Close Button */
.close {
  color: #aaaaaa;
  padding-left: 2rem;
  font-size: 28px;
  font-weight: bold;

  @media screen and (max-width: $mobile-max-width) {
    padding-left: 0;
  }
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 240px !important;

  @media screen and (max-width: $mobile-max-width) {
    height: 120px !important;
  }
}

.author {
  text-align: center;
}

#destinations #destinationsVideos {
  position: absolute;
  padding-top: 100px;
  z-index: 1000;
  background: rgba(70, 130, 180, .8);
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#destinationsVideos iframe {
  border: 2px solid steelblue;
  display: block;
  width: 960px;
  margin: 0 auto;
}

#destinations h2 {
  background: #e9e9e9;
  padding: 10px 6px;
}

.page-header h2 {
  margin: 0;
  background: #e9e9e9;
  padding: 10px 6px;
}

#destination_filters {
  font-size: 0px;
  background: steelblue;
  padding: 4px 0;
  margin: -30px 0 10px 0;
}

#choix_categories a {
  color: #fff;
  display: inline-block;
  padding: 0;
  margin: 0 14px 0 0;
  border: none;
  outline: 0;
  font-size: 14px;
  border-radius: 3px;
  vertical-align: middle;
  transition: all .3s;
}

#choix_categories a:hover {
  text-decoration: none;
  color: #222;
}

#choix_categories {
  // margin-left: -16px;
  width: 60%;
  display: inline-block;
}

#search_destination {
  width: 40%;
  // display: inline-block;
  display: inline-flex;
  text-align: right;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

#search_destination input[type="search"] {
  margin: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#search_destination button {
  margin: 0;
  margin-left: 1px;
  padding: 4px 6px;
  border: 1px solid silver;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.page-header h2 {
  position: relative;
}